/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/*main page container style*/
.userListSection{
  margin-top: 300px;
 margin:0px;
 margin-left: 10px;
 display:ms-grid;
 
 }

/*title page div style*/
.titlepage{
  padding-left: 20px;

  background-color: lavender;
  align-items: center;
  margin-bottom:20px;
  margin-left: 10px;
  margin-right: 20px;
}

h1{
  color: lightseagreen;
  font-size: 40px;
  text-transform: uppercase;
}


/*Styles for html elements in the section of adding new users information*/
.addUserContainer{
  background-color: lavender;
  display: flex;
  margin: 5px 20px 20px 20px;
  padding: 20px 2px 2px 0px;
  border: 2px solid;
  border-color: lightslategray;
  
}

.listFields{ 
  display: flex;
  list-style: none;  
  align-items: center;
  font-size: 16px;  
 
  margin: 0px;
 
}

.listFields >li{
  background-color: lavender;
  justify-content: space-between;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 0px;
  border:white ;
 
}

.addData label{
  padding-inline: 2px;
  color: black;
  font-style:italic;
}

.addData input, .inputChange{
  
  background-color: whitesmoke;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
  width: 300px;
  height: 30px;
  margin-top:8px;
  
  outline: none;
  display: flex;
  
}
.selectRole{
  margin-top:5px;
  margin-left: 10px;
  font-size: 16px;
  padding: 8px;
  width: 170px;
 
  margin-left:0px;
  margin-bottom: 5px;
}
.selectStatus {
  font-size: 16px;
  background-color: white;
  padding: 8px;
  width: 160px;
  margin-top:3px;
  margin-bottom: 5px;
 
}

.btnGeneral {
  
  border: 0px;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bolder;
  
}
.btnGeneral:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btnOptionsContainer {
  display:flex;
  padding:20px;
}
.aproved{
  color:green;
}
.denied{
  color:red;
}

.pending{
  color:orange;
}


.addNewUserBtn{
  font-size: 20px;
  margin-left: 20px;
  box-shadow: 1px 1px 1px 1px lightseagreen;
}

.btnAdd{
  font-size: 14px;
  color:white;
  background-color: lightseagreen;
  box-shadow: 1px 1px black;
  margin-left: 500px;
  margin-right: 20px;

}

.btnCancel{
  color:white;
  font-size: 14px;
  background-color: gray;
  box-shadow: 1px 1px black;
  
}


/*styles for section of search a user*/

.searchUserContainer{
  display:  flex;
  height: 60px;
  background-color: lavender;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 10px 20px 10px 20px;
  border: 2px solid;
  border-color: lightslategray;
}
.btnSearchUser{
  margin-right: 5px;
  color:white;
  background-color: lightseagreen;
  box-shadow: 1px 1px 1px 1px black;
  margin-right: 10px;
}

.toSearchInput{
  background-color: whitesmoke;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
  width: 300px;
  height: 30px;
  margin-top:8px;
 margin-left: 20px;
 margin-right: 10px;
  outline: none;
   overflow:scroll;
}


/*Styles for the userlist table section and elements*/

.listSection{
  display: grid;
  background-color: lightcyan;
  margin-top:30px;
  align-items: center;
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 100px;
 

  overflow-y:scroll;
  overflow-x: hidden;
  height: 630px;
}


.userListTable{
  
  border-collapse:collapse;
  box-shadow: 0px 5px 10px gray;
  background-color: white;
  text-align: left; 
  width: 100%;
  font-family: Poppins;
 
}
.userListTable> thead{
  box-shadow: 0px 2px 15px  black;
  
}
.col_title{
  padding: 10px;
  padding-inline: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 900;
  color: lightseagreen;
  
}
tbody{
  justify-content: center;
  width: 100%;
  margin: 20px;
  height: 700px;
  
}

tr{
  border: 2px solid;
  border-color: lightseagreen;
 
}

td{
  margin-left: 20px;
  text-transform:uppercase;
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding-inline-start: 10px;
  
}
.emailrow{
  text-transform:lowercase;
  font-family: Poppins;
}

.btnEdit{
  margin-right: 5px;
  color:white;
  background-color: lightseagreen;
  box-shadow: 1px 1px 1px 1px black;
  margin-right: 10px;
}
.btnDelete{
  font-weight: 400;
  margin-right: 5px;
  background-color: rgb(245, 241, 241);
  box-shadow: 1px 1px 1px 1px gray;
}
