* {box-sizing: border-box;}
body {
  background-image: url(../media/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family:sans-serif;
}

form {
  height: 550px;
  width: 300px;
  margin: 60px auto;
  border-radius: 8px
}

button{box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.58);}

form h1 {
  text-align: center;
  color: #f6f7fa;
  padding-top: 64px;
}

form p {
  color: #f6f7fa;
  font-size: 11px;
  text-align: center;
  margin-top: -19px;
}

form p>a{color:#ffffff;text-decoration: none;transition: 0.3s }
form p>a:hover{color: #1da1f2}

.input-info {margin-top: 30px;margin-bottom: 15px}

input[type="text"],input[type="email"],input[type="password"]  {
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    background: none;
    color: #f6f7f8;
    margin: 5px 5px 5px 17px;
    outline: none;
    transition: 0.3s;
    text-indent: 15px;
    overflow: hidden;
}

input::placeholder { color:#f6f7f8; }
 
.input-info input[type="checkbox"] {margin-left: 17px;cursor: pointer;margin-top: 7px}
.input-info span {color: #ffffff;font-size: 11px;}
.input-info span>a{color:#1da1f2 }
.input-info span>a:hover{color:#fff }

.log-sign{text-align: center;}
.signup,
.login{
    padding: 10px;
    margin-top: 16px;
    background: #435688;
    color: #fff;
    width: 103px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #435688;
    outline: none;
}
.signup {
  background: #9e3434;
  border: 1px solid #9e3434;
}


.log-sign .signup>a{color: #fff;text-decoration: none;}
.log-sign button:hover{
   background:none;
   border:1px solid #f7f8fa;
   color: #f9fafc;
}

.social-media button:hover{
  background:none;
  border:1px solid #f7f8fa;
  color: #f9fafc;
}

.social-media {
	margin-bottom: 35px;
}
.social-media .btn1 {
  border: 0;
  color: #fff;
  width: 20%;
  margin-left: 120px;
  margin-top: 14px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid black;
}

.social-media .icon {
  height: 40px;
  width: 40px;
}
.social-media button>a{color: #fff;text-decoration: none;}
.forget-password {text-align: center;}
.forget-password a {color: #1da1f2;transition: 0.3s;text-decoration:underline;}
.forget-password a:hover{color: #fff}
.forget-password a:active{color: #fff}


