/* Google Font Link */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
:root{
--margin_sidebar:200px;
}

.adminLayoutContainer,.sellerLayoutContainer{
  display: flex;
  height:100%;
  overflow-x: hidden;
  overflow-y: hidden ;
  padding:0px;
  width: calc(100% - var(--margin_sidebar));
  box-sizing: border-box;
  font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: var(--margin_sidebar);
  
}


.sidebarSection{
  
 /*width: 20rem;*/
 width: var(--margin_sidebar);
 
  
}

.spinerClass {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.mainPage{
    height: 100%;
    width: 100%;
    margin-left: 20px;
    background-color: white;
    display:-moz-grid-group;
    overflow-y: hidden;
    align-content: center;
    justify-content: center;  
    overflow-x:hidden;
    
  }

  
  