/* Google Font Link */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
:root{
--margin_sidebar:200px;
}

.adminLayoutContainer,.sellerLayoutContainer{
  display: flex;
  height:100%;
  overflow-x: hidden;
  overflow-y: hidden ;
  padding:0px;
  width: calc(100% - var(--margin_sidebar));
  box-sizing: border-box;
  font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: var(--margin_sidebar);
  
}

.loginImageError {
  display: flex;
  justify-content: center;
  width: 50%;
}
.information {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonGoLogin {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.divBtnGoLogin {
  height: 100px;
  justify-content: center;
  align-items: center;
}

.divBtnGoLogin .btnGeneral  {
  width: 100%;
  font-size:150%;
  height: 50px;
  margin-right: 5px;
  color:white;
  background-color: var(--btn_color);
  margin-right: 10px;
}

.divImgGoLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnGoLogin {
  width: 50%;
  font-size:150%;
  height: 50px;
  margin-right: 5px;
  color:white;
  background-color: var(--btn_color);
  margin-right: 10px;
}

.textNotUtentication {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #FC5F5D;
  font-weight: bold;
  font-size: xxx-large;
}

.sidebarSection{
  
 /*width: 20rem;*/
 width: var(--margin_sidebar);
 
  
}

.spinerClass {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.mainPage{
    height: 100%;
    width: 100%;
    margin-left: 20px;
    background-color: white;
    display:-moz-grid-group;
    overflow-y: hidden;
    align-content: center;
    justify-content: center;  
    overflow-x:hidden;
    
  }

  
  