/* Google Font Link */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
:root{
--margin_sidebar:240px;
}

.adminLayoutContainer,.sellerLayoutContainer{
  display: flex;
  height:100%;
  overflow-x: hidden;
  padding:0px;
  width: calc(100% - var(--margin_sidebar));
  box-sizing: border-box;
  font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: var(--margin_sidebar);
  
}


.sidebarSection{
  
  width: 20rem;
 
  
}


.mainPage{
    height: 100%;
    width: 100%;
    background-color: white;
    display:-moz-grid-group;
    
    align-content: center;
    justify-content: center;  
    
  }

  
  