

:root{
  --colortitle:#1960c9;
  --colorbackground1:whitesmoke;
  --btn_color:#0d6efd;
  --black:#363b41;
  --hover_blue: #3880ec;
}

/*main page container style*/
.MainSection{
  margin-top: 300px;
 margin:0px;
 margin-left: 10px;
 display:ms-grid;
 
 }

/*title page div style*/
.titlepage{
  
  background-color: lavender;
  align-items: center;
  margin-bottom:20px;
  margin-left: 10px;
  margin-right: 20px;
  
}

.title
{margin-top: 10px;
  margin-left: 10px;
  padding-left: 20px;
  color: var(--colortitle);
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 900;
}

.addNewSubt{
  font-size: 20px;
  background-color: var(--black);
  margin-left: 20px;
  color:white;
  height: 30px;
  margin-right: 20px;
  padding-left: 20px;
  margin-bottom: 3px;
  margin-top: 10px;
}

.subt1{
  font-size:20px;
  
  margin-top:20px;
  margin-left: 40px;
  color: var(--colortitle);
  margin-bottom: 1px;
}

.marg-l{
  margin-left: 30px;
  margin-right: 48px;
}
/*icons*/
.btnIcon{
  height: 20px;
  margin-right: 2px;
}

/*buttons */
.btnGeneral {
  
  border: 0px;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 400;
  
}
.btnGeneral:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.btnListaVentas{
  background-color:var(--btn_color);
  color: white;
  font-size: 20px;
  box-shadow: 1px 1px 1px 1px rgb(64, 68, 71);
  margin-right: 20px;
  border-radius: 6px;
}

.btnCreateUser,.btnCreateProduct{
  font-size: 14px;
  background-color: var(--btn_color);
  margin-left: 500px;
  margin-right: 20px;
  color:white;
}

.btnCreateProduct:hover{
  background:var(--hover_blue);
}
.btnCreateProduct{
  margin-bottom: 10px;
}
btnCreateUser,.btnCreateProduct:hover{
  background:var(--hover_blue);
}
.btnCancel{
  font-size: 14px;
  background-color: lightgrey;
  
}


.btnSearchUser{
  margin-right: 5px;
  color:white;
  background-color: var(--btn_color);
  margin-right: 10px;
}
.btnEdit:hover{
  background:var(--hover_blue);
}
.btnEdit{
  font-size:small;
  height: 30px;
  margin-right: 5px;
  color:white;
  background-color: var(--btn_color);
  margin-right: 10px;
}
.btnDelete{
  height: 30px;
  font-size:small;
  margin-right: 5px;
  background-color:lightgrey;
}
.btnBack{
  height: 30px;
  font-size:small;
  margin-top: 10px;
  margin-right: 20px;
  
  background-color:lightgrey;
  padding:5px;
  
}

/*big btn*/
.btnBig{
  
  border: 0px;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bolder;
  font-size: 20px;
  margin-right:30px;
  

}
.btnBig:hover{
  background-color:var(--btn_color);
  cursor: pointer;
  
}
.btnAddOrder{
  color:white;
  background-color:var(--colortitle);
  
}
.btnAddOrder:hover{
  background:var(--hover_blue);
}
.btnCancelOrder{
  background-color:lightgray;
  font-weight: 500;
}



/*selects */
.selectRole{
  margin-top:5px;
  margin-left: 10px;
  font-size: 16px;
  padding: 8px;
  width: 170px;
 
  margin-left:0px;
  margin-bottom: 5px;
}
.selectStatus {
  font-size: 16px;
  background-color: white;
  padding: 8px;
  width: 160px;
  margin-top:3px;
  margin-bottom: 5px;
  margin-left: 5px;
 
}
.aproved{
  color:green;
}
.denied{
  color:red;
}

.pending{
  color:orange;
}




/*styles for search sections*/

.searchContainer{
  display:  flex;
  height: 70px;
  background-color: var(--colorbackground1);
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 10px 50px 20px 30px;
  border: 2px solid;
  border-color: lightslategray;
  
}

/*Styles for html elements in the section of adding new  information*/
.addContainer{
  background-color:var(--colorbackground1);
  display: flex;
  margin: 5px 50px 20px 30px;
  padding: 10px 2px 0px 0px;
  border-radius: 6px;
  border: 1px solid;
  border-color: gray;
  
}

/* ul  userlist section*/
.listFields{ 
  display: flex;
  list-style: none;  
 
}

.listFields >li{
  
  justify-content: space-between;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 0px;
  border:white ;
 
}

.listFields label{
  padding-inline: 2px;
  color: black;
  font-style:italic;
}
.addDataRoleContainer > select{
  margin-left: 10px;
}

/*ul de product section*/
.ulProduct{
  list-style: none;
  display: flex;
  
}
.ulProduct li{
  padding-right: 30px;
}





/*Table styles*/
.listSectionContainer{

align-items: center;
overflow-x: hidden;
overflow-y: scroll;
margin-left: 30px;
margin-right: 50px;
position: relative;

border:0.5px solid gray;

box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/*size for table in list products in new order section*/
.divProductToAdd{
  height: 300px;
}
/*size for orders list*/
.divOrderslist{
  height: 600px;
  
}

/*size for products list*/
.divProducts{
  height: 380px;
  
}


/**size for user table*/
.divUsuariosList{
  
  height:370px;
}


.ListTable{
  background-color: white;
  text-align: left; 
  width: 100%;
  
}
.thead{
  background-color: black;
  color:white;
}
.thead tr th { 
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--black);

}

.col_title{
  padding: 5px;
  padding-inline: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 900;
  background-color: white;
}

.col-last{
 padding-left: 20px;
  color: white;
}
.datarow{
  height:50px;
  width: 100%;
  
  background-color: white;
}

.datarow td{
  
  padding-left: 20px;
  border:1px solid;
  border-color: gray;
  padding-left:10px;
}
.pad-b{
  padding-bottom: 5px;
}
.numberTD{
  width: 80px;
}
.smallTD{
  width: 120px;
}
.mediumTD{
  width: 300px;
  
}

.smallLargeTD{
  width: 200px;
  
}
.descripTD{
  width: 620px;
}

.xlargeTD{
  width: 800px;
}


.totaltext{
  font-size: 25px;
  font-weight: 400;
  margin-right: 100px;
  border:1px solid;
  border-color: lightsteelblue;

}

/**inputs **/
.toSearchInput{
  background-color: var(--colorbackground1);
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
 
  height: 30px;
  margin-top:8px;
 margin-left: 10px;
 margin-right: 10px;
  outline: none;
   overflow:scroll;
}

/*general input*/
.inputChange{
  
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
  
  height: 30px;
  margin-top:8px;

  outline: none;
  display: flex;
  
}
.inputNumber{
 margin-left: 20px;
 margin-right: 10px;
 width: 40px;
}
.inputMedium{
  width: 600px;
 
  
}
.inputMedium text{
  overflow-wrap: break-word;
}
.inputValue{
  width: 70px;
}
.inputLarge{
  width: 670px;

} 


.inputTotal{
  background-color: lightgray;
  height: 40px;
  width: 300px;
}

/*other styles for specific section*/

/**Sección para estilos de modulo ventas**/
.newOrderContainer{
  display: grid;
  background-color: var(--colorbackground1);
  border:1px solid;
  border-color: lightslategray;
  border-radius: 5px;
  padding-top: 7px;
  margin-left: 30px;
  margin-right: 50px;
  
  
}


.stateDiv{
  margin-left: 150px;
}
.listFields .totalLi{

  margin-left: 300px;
}

.listFields .stateDiv{

  margin-left: 200px;
}

/*div containers de btn*/

.btnDivRegistBtn{
  margin-left: 430px;
  margin-bottom: 15px;
}
/*in userlist section */
.btnOptionsContainer {
  display:flex;
  padding:20px;
}

/*in list order section*/
.divBtnChangePage{
  margin-bottom: 20px;
  margin-left: 1000px;
}
.divBtnEditRow button{
  margin-left: 20px;
}
/*in add order section*/
.divBtnTotalOrder{
  margin-top:20px;
  margin-left: 700px;
}


/**adding update section for products module*/

.withupdatesection{
  margin: 20px 45px 0px 30px;
}
.updateSection{
  height: 100px;
  background-color: var(--colorbackground1);
  justify-content: space-between;
  
  margin: 0px 45px 20px 30px;
  border: 2px solid;
  border-color: lightslategray;
}
.updateProductUl{
  list-style: none;
  display: flex;
 
}
  .updateProductUl li{
    display: grid;
    margin: 10px;
  }
  .btnFlex{
    display:flex;
  }
 
  .dialogDelete{
    justify-items: center;
    display: grid;
    padding: 20px;
    height: 200px;
    width: 500px;
    font-size: 16px;
    border-radius: 8px;
  }

  .editBtnContainer {
    width: 120px;
    align-items: center;
    padding-left: 15px;
    
  }
  
  .editBtnContainer2 {
    display: flex;
    align-items: center;
   margin:5px;

  }
  
  .editBtnContainer2 button {
    display: flex;
    margin-left:40px;
    font-size: 20px;
    height: 40px;
    width: 45px;
  }

  .dialogUpdate{
   
    justify-items: center;
    display: grid;
    padding: 20px;
    height: 300px;
    width: 500px;
    font-size: 16px;
  }
  .infoToUpdateDiv{
  
  display: grid;
  justify-items: center;
  width: 300px;
  
  }
  .pLarge{
    width: 400px;
    overflow-wrap: break-word;
  }
  .pRowLarge{
    width: 500px;
    overflow-wrap: break-word;
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/**Styles for additional components in users module*/
.searchContainerUser{
  
  margin-left: 30px;
  align-self: center;
  height: 50px;
  margin-bottom: 10px;
  width: fit-content;
  padding:7px;
}