

:root{
  --colortitle:#1960c9;
  --colorbackground1:whitesmoke;
  --btn_color:#3880ec;
  --black:#363b41;
}

/*main page container style*/
.MainSection{
  margin-top: 300px;
 margin:0px;
 margin-left: 10px;
 display:ms-grid;
 
 }

/*title page div style*/
.titlepage{
  
  background-color: lavender;
  align-items: center;
  margin-bottom:20px;
  margin-left: 10px;
  margin-right: 20px;
  
}

.title
{margin-top: 10px;
  margin-left: 10px;
  padding-left: 20px;
  color: var(--colortitle);
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 900;
}

.addNewSubt{
  font-size: 20px;
  background-color: var(--black);
  margin-left: 20px;
  color:white;
  height: 30px;
  margin-right: 20px;
  padding-left: 20px;
  margin-bottom: 3px;
  margin-top: 10px;
}

.subt1{
  font-size:20px;
  
  margin-top:20px;
  margin-left: 40px;
  color: var(--colortitle);
  margin-bottom: 1px;
}

.marg-l{
  margin-left: 30px;
  margin-right: 48px;
}
/*icons*/
.btnIcon{
  height: 20px;
}

/*buttons */
.btnGeneral {
  
  border: 0px;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 400;
  
}
.btnGeneral:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.btnListaVentas{
  background-color:var(--btn_color);
  color: white;
  font-size: 20px;
  box-shadow: 1px 1px 1px 1px rgb(64, 68, 71);
  margin-right: 20px;
  border-radius: 6px;
}

.btnCreateUser,.btnCreateProduct{
  font-size: 14px;
  background-color: var(--btn_color);
  margin-left: 500px;
  margin-right: 20px;
  color:white;
}
.btnCreateProduct{
  margin-bottom: 10px;
}
.btnCancel{
  font-size: 14px;
  background-color: lightgrey;
  
}


.btnSearchUser{
  margin-right: 5px;
  color:white;
  background-color: var(--btn_color);
  margin-right: 10px;
}
.btnEdit{
  font-size:small;
  height: 30px;
  margin-right: 5px;
  color:white;
  background-color: var(--btn_color);
  margin-right: 10px;
}
.btnDelete{
  height: 30px;
  font-size:small;
  margin-right: 5px;
  background-color:lightgrey;
  
}

/*big btn*/
.btnBig{
  
  border: 0px;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bolder;
  font-size: 20px;
  margin-right:30px;
  

}
.btnBig:hover{
  background-color:var(--btn_color);
  cursor: pointer;
  
}
.btnAddOrder{
  color:white;
  background-color:var(--colortitle);
  
}
.btnCancelOrder{
  background-color:lightgray;
  font-weight: 500;
}



/*selects */
.selectRole{
  margin-top:5px;
  margin-left: 10px;
  font-size: 16px;
  padding: 8px;
  width: 170px;
 
  margin-left:0px;
  margin-bottom: 5px;
}
.selectStatus {
  font-size: 16px;
  background-color: white;
  padding: 8px;
  width: 160px;
  margin-top:3px;
  margin-bottom: 5px;
  margin-left: 5px;
 
}
.aproved{
  color:green;
}
.denied{
  color:red;
}

.pending{
  color:orange;
}




/*styles for search sections*/

.searchContainer{
  display:  flex;
  height: 70px;
  background-color: var(--colorbackground1);
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 10px 45px 30px 30px;
  border: 2px solid;
  border-color: lightslategray;
}

/*Styles for html elements in the section of adding new  information*/
.addContainer{
  background-color:var(--colorbackground1);
  display: flex;
  margin: 5px 50px 20px 30px;
  padding: 20px 2px 0px 0px;
  border-radius: 6px;
  border: 1px solid;
  border-color: gray;
}

/* ul  userlist section*/
.listFields{ 
  display: flex;
  list-style: none;  
 
}

.listFields >li{
  
  justify-content: space-between;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 0px;
  border:white ;
 
}

.listFields label{
  padding-inline: 2px;
  color: black;
  font-style:italic;
}
.addDataRoleContainer > select{
  margin-left: 10px;
}

/*ul de product section*/
.ulProduct{
  list-style: none;
  display: flex;
  
}
.ulProduct li{
  padding-right: 30px;
}





/*Table styles*/
.listSectionContainer{
display: -moz-grid;
align-items: center;
overflow-x: hidden;
overflow-y: scroll;
margin-left: 30px;
margin-right: 50px;

background-color: white;

}

.divOrderslist{
  height: 600px;
  width: fit-content;
}


.divProductToAdd{
  height: 300px;
}


.ListTable{
  
  background-color: white;
  border-collapse:collapse;
  text-align: left; 
  
 
}

.thead{

  border-color: var(--btn_color);
}

.col_title{
  padding: 10px;
  padding-inline: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 900;
  
  border: 1px solid gray;
  color: var(--colortitle);
}

.mg-l{
  margin-left: 20px;
  color: #1960c9;
}
.datarow{
  height: 40px;
  width: 100%;
  
  background-color: white;
}

.datarow td{
  
  padding-left: 20px;
  border:1px solid;
  border-color: gray;
  padding-left:10px;
}
.pad-b{
  padding-bottom: 5px;
}
.smallTD{
  width: 120px;
}
.mediumTD{
  width: 300px;
  
}

.smallLargeTD{
  width: 200px;
  
}
.descripTD{
  width: 500px;
  
}

.xlargeTD{
  width: 800px;
}


.totaltext{
  font-size: 25px;
  font-weight: 400;
  margin-right: 100px;
  border:1px solid;
  border-color: lightsteelblue;

}

/**inputs **/
.toSearchInput{
  background-color: var(--colorbackground1);
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
  width: 300px;
  height: 30px;
  margin-top:8px;
 margin-left: 10px;
 margin-right: 10px;
  outline: none;
   overflow:scroll;
}

/*general input*/
.inputChange{
  
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
  width: 300px;
  height: 30px;
  margin-top:8px;

  outline: none;
  display: flex;
  
}
.inputNumber{
 margin-left: 20px;
 margin-right: 10px;
 width: 40px;
}
.inputMedium{
  width: 60px;
}
.inputValue{
  width: 70px;
}
.inputLarge{
  width: 700px;
} 

.inputTotal{
  background-color: lightgray;
  height: 40px;
}

/*other styles for specific section*/

/**Sección para estilos de modulo ventas**/
.newOrderContainer{
  display: grid;
  background-color: var(--colorbackground1);
  border:1px solid;
  border-color: lightslategray;
  border-radius: 5px;
  padding-top: 7px;
  margin-left: 30px;
  margin-right: 50px;
}


.stateDiv{
  margin-left: 150px;
}
.totalLi{
  margin-left: 170px;
}


/*div containers de btn*/

.btnDivRegistBtn{
  margin-left: 430px;
  margin-bottom: 15px;
}
/*in userlist section */
.btnOptionsContainer {
  display:flex;
  padding:20px;
}

.editBtnContainer{

}
/*in list order section*/
.divBtnChangePage{
  margin-bottom: 20px;
  margin-left: 1000px;
}
/*in add order section*/
.divBtnTotalOrder{
  margin-top:20px;
  margin-left: 700px;
}
