/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
--margin_separar: 240px;

}
.sidebar{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}


.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 240px;
    
    background:#212529;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    
  }
 
  .sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    
  }
  .sidebar .logo-details .img{
    opacity: 1;

    transition: all 0.5s ease;
  }
  .sidebar .logo-details .logo_name {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 800;
    opacity: 1;
    
    transition: all 0.5s ease;
    
    
  }
  
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    
  }

 
  img{
    height: 20px;
    width: 20px;
    object-fit: cover;
    margin: 5px;
    border-radius: 6px;
    margin-right: 5px;
    
    font-size: 15px; 
  }
  .sidebar .nav-list{
    margin-top: 20px;
    height: calc(100%-200px);
    align-items: start;
    padding-inline-start: 0px;
    text-decoration: none;
    
  }

  .sidebar li, .logoutsection li{
    position: relative;
    margin: 0px 0px;
    list-style: none;
    border-radius: 1px;

    
  }
  .sidebar li a, .logoutsection a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    justify-content: space-evenly;
    text-decoration: none;
   
    transition: all 0.4s ease;
    background:#0d6efd;
    margin-bottom: 10px;
    align-items: center;
  
  }

  .sidebar li a:hover{
    background: lightseagreen;
    
  }
  .logoutsection{
      position: relative;
      margin-top: 350px;
  }
  .logoutsection a:hover{
    background: lightseagreen;
    box-shadow: lightslategray  2px 2px ;
}

.links_name{
    color: whitesmoke;
    font-family: sans-serif;

}
 