/**


* {box-sizing: border-box;}
.productsManagerSection {
    background-image: url(../media/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:sans-serif;
  }

  .products-form {
    height: 800px;
    width: 800px;
    margin: 60px auto;
    border-radius: 8px;
    background: #a1a1a1;
  }
  
**/

  button{box-shadow: 2px 2px 3px rgba(0, 0, 0, 7);}

.productManager {margin-bottom: 10px}

input[type="text"], select {
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    background: #a1a1a1;
    color: #000000;
    margin: 5px 5px 5px 17px;
    outline: none;
    transition: 0.3s;
    text-indent: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 7);
}

.inputId {
    width: 10%;
}

.inputDescription {
    width: 50%;
}

.inputUnitaryPrice {
    width: 20%;
    margin-right: 100px;
}

.selectState {
    width: 20%;
}
.selectState option {
    color: #464747;
}

th { color:#f6f7f8; text-shadow: 1px 1px 2px black; background: #a1a1a1;}

td {
    color: black;
    background: #a1a1a1;
}

h1, label, span {
    color:#f6f7f8
}

.buttonsManager button:hover{
    background:none;
    border:1px solid #f7f8fa;
    color: #f9fafc;
    
 }
 .buttonsManager button{
    padding: 10px;
    margin-top: 16px;
    background: #435688;
    color: #fff;
    width: 103px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #435688;
    outline: none;
    margin-right: 70px;
}

.buttonsManager {margin-bottom: 12px}

table, th, td, form  {
    border: 1px solid;
    border-color: #f6f7f8;
}

.productManager, .buttonsManager, .listManager {
    border: 1px solid;
    border-color: #f6f7f8;
    padding: 15px;
    border-radius: 6px;
    background: #6e6e6e;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 7);
}
  

.products-form {
    padding: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 7);
}




